@font-face {
    src: url(fonts/Aileron-Bold.otf);
    font-family: aileron;
}
@font-face {
    font-family: aileron-regular;
    src: url(fonts/Aileron-Regular.otf);
}
body {
    margin: 0;
    font-family: aileron-regular;
}

section {
    width: auto;
}
.links ul {
    display: flex;
    gap: 50px;
    text-decoration: none;
    list-style: none;
}
.one,
.two {
    background: #1F2937;
    margin: 0;
    padding: 10px 150px;
    color: #F9FAF8;
 
}

.two {
    padding: 50px 200px;
    background: #eee;
    color: #1F2937;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: aileron;
    font-size: 36px;
}

.header-content {
    display: flex;
    align-items: flex-start;
    gap: 50px;
    padding-top: 75px;
    padding-bottom: 75px;
}

.hero h2{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0;
}

.hero h2 p {
    margin-top: 0;
}

.hero button {
    padding: 5px 15px;
    width: 150px;
}

.header-img {
    width: 600px;

}

.header-img video {
    width: 600px;
    border-radius: 20px;
}

.content h2 {
    text-align: center;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;


}

.item {
    width: 300px;
    display: flex;
    flex-flow: column wrap;
    text-align: center;
}

.item img {
    width: 220px;
    height: 320px;
    border-radius: 20px;
    margin-bottom: 16px;
}

.quote {
    text-align: left;
}

.signup {
    margin: 0 auto;
    width: 880px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

button {
    width: 100px;
}

.text p {
    margin-top: -15px;
}

.footer {
    background-color: grey;
    height: 100px;
}